
@media only screen and (min-width: 769px) {

  nav{
    width: 92%;
  }

  .tabs-list {
    margin-top: 5.5rem;
  }

  .tabs-list > li {
    margin-right: 1.6rem ;
  }

  .wrapper {
    width: 80vw;
  }
}

@media only screen and (min-width: 1025px) {
  html,
  html:lang(EN) {
    font-size: 20px;
  }

  .tabs-container {
    width: 20%;
  }

  .wrapper {
    width: 60vw;
  }
}
