@media only screen and (min-width: 769px) {

  nav{
    width: 92%;
  }

  .burger-active {
    margin-top: 0.9rem;
  }

  .tabs-list {
    margin-top: 5.5rem;
  }

  .wrapper {
    width: 80vw;
  }
} 
@media only screen and (min-width: 1025px) {
  body {
    font-size: 18px;
  }

  .tabs-container {
    width: 20%;
  }

  .burger-active {
    transform: translate(-90%);
  }

  .wrapper {
    width: 60vw;
  }
}
