
@media only screen and (min-width:768px){
    .YouTube-vid-container,
    .map-container{
        width:62vw;
        height: 76vh;
    }
    body{
        font-size: 20px;
    }
    
    .insider-burger{
        margin-top:2.1rem; 
    }

    .tabs-list{
        margin-top:5.5rem;
    }

}

@media only screen and (min-width:1024px){
    .tabs-container{
        width: 20%;
    }

    .burger-active{
        transform:translate(-350%); 
        transition: 0.5s;
    }
}