
@media only screen and (min-width:768px){

    body{
        font-size: 20px;
    }
    
    .burger-active{
        margin-top:0.9rem; 
    }

    .tabs-list{
        margin-top:5.5rem;
    }

    .music-box{
        height:50vh;
    }

}

@media only screen and (min-width:1024px){

    .tabs-container{
        width: 20%;
    }
    
    .burger-active{
        transform:translate(-90%); 
    }

    .music-box{
        width:60vw;
        height:60vh;
    }
}