/* color links #884425*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Amiri",serif;
  font-size: 14px;
  background-color:#D09D85; 
}

h1 {
  font-family: 'Aref Ruqaa', serif;
  font-size: 2em;
  color: #630709;
}

.container {
  width: 90%;
  border: 1.5px solid #0d0b0a;
  border-radius: 5px;
  background-color: #f1e2db;
  margin: 10px auto;
}

/********************
*** REUSABLE CODE ***
********************/

.section {
  margin: 0 10px;
}

h2,h3 {
  font-family: 'Aref Ruqaa', serif;
  margin: 5px 3px 0 3px;
  color: #930a0e;
}

h2{
  font-size: 1.7em;
}

h3{
  font-size: 1.3em;
}

.article{
  margin: 10px;
  color: #07020F;
}

.beginging{
  color:#b30c11;
  font-size: 1.5em;
}

.symbol{
  font-size:0.7em; 
}


/********************
******** NAV ********
********************/

nav{
  display: flex;
  justify-content: space-between;
  width: 85%;
  margin: 0 auto;
}

.burger{
  cursor: pointer;
  margin: auto 0;
}

.line{
  height: 5px;
  width: 30px;
  margin:6px 0;
  background: #630709;
}

/********************
******** MAP ********
********************/

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 100%;
  width: 100%;
}

#gmap_canvas {
  height: 100%;
  width: 100%;
}

.img-slider .mapouter {
  position: relative;
  text-align: right;
  width: 98%;
  height: 60vh;
  margin: 0 auto;
  border: 1px solid #0d0b0a;
  border-radius: 2px;
}

/********************
****** PLACES ******
********************/
.img-slider{
  display: none;
}
/* imgs */
.slider-images{
  background-size:cover;
  background-position: center; 
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

#img1{
  background-image: url(img/1.gif);
}
#img2{
  background-image: url(img/2.jpg);
}
#img3{
  background-image: url(img/3.jpg);
}
#img4{
  background-image: url(img/4.jpg);
}
#img5{
  background-image: url(img/5.jpg);
}
#img6{
  background-image: url(img/6.jpg);
}
#img7{
  background-image: url(img/7.jpg);
}
#img8{
  background-image: url(img/8.jpg);
}





