/* color links #884425*/
html{
  font-family: 'Amiri', serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin-bottom:0.6rem; 
}

body {
  /* user-select: none;<!> */
  outline: none;
  font-family: "Amiri", serif; 
  background-color: #d09d85;
  overflow-x: hidden;
  width: 100vw;
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 1.8rem;
}

body:lang(en){
  font-family: 'Lato', sans-serif;
  line-height: 140%;
}

.content {
  border: 1.5px solid #0d0b0a;
  border-radius: 5px;
  background-color: #f1e2db;
}

/********************
*** REUSABLE CODE ***
********************/

.container {
  width: 96%;
  margin: 0 auto;
}

.section{
  padding-top: 0.8rem;
}

.section:last-child {
  margin-bottom: 0.6rem;
}

h1,
h2{
  font-family: "Aref Ruqaa", serif;
  color: #630709;
}

h1:lang(en),
h2:lang(en){
  font-family:  "Open Sans", sans-serif;
}

h1 {
  font-size: 1.7em;
  margin-bottom: 0.7rem;
}

h2 {
  font-size: 1.5em;
  margin-bottom: 0.7rem;
}

h1:lang(en) {
  font-weight: 800;
  margin-left: 5px; 
}

h2:lang(en) {
  font-size: 1.1em;
  font-weight: 700;
}

article {
  color: #07020f;
}

.symbol {
  font-size: 0.5em;
}

.beginging {
  color: #630709;
  font-size:1.6rem; 
}

/********************
******** NAV ********
********************/

nav {
  display: flex;
  justify-content: space-between;
  width: 98%;
  margin: 0 auto;
}

h1 {
  font-size: 2em;
  padding-top:10px; 
}

/* burger  */

.burger {
  display: block;
  cursor: pointer;
  margin: auto 0;
  transition: 0.5s;
  z-index: 2;
  transition: step-end;
}

.burger-line {
  cursor: pointer;
  height: 5px;
  width: 33px;
  background: #630709;
  transition: 0.5s;
  margin: 0.6rem;
}

.burger-line-active {
  background-color: #f1e2db;
  /* margin-right: auto;<!> */
}

/* slider */

.tabs-container {
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  transition: 0.5s;
  height: 100%;
  width: 50%;
  background: rgba(63, 07, 09, 0.9);
  color: #f1e2db;
  z-index: 1;
  margin: 0;
}

.tabs-container-active {
  transform: translateX(0%);
}

.tabs-list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  list-style: none;
  width: 100%;
  height: 70vh;
  margin-top: 5.5rem;
}

.tabs-list > li {
  font-size: 1.3rem;
  margin-right: 1rem ;
}

.tabs-list > li > a {
  text-decoration: none;
  color: inherit;
}

/********************
****** IMAGES ******
********************/

.img-container{
  display: table;
  margin: 0 auto;
  position: relative;
  margin-bottom: 0;
}

/* imgs */
.img-border{
  border: 1px solid #0d0b0a;
  border-radius: 5px;
}

/* arrows */
.arrow {
  position: absolute;
  top: 50%;
  margin-top: -30px;
  font-size: 2em;
  font-weight: bold;
  padding: 4px 16px;
  outline: none;
  cursor: pointer;
  color: #ffffff;
  background-color: transparent;
  transition: 0.5s;
}

/* .arrow:hover{
    background-color: rgba(0,0,0,0.8);
  }

   https://stackoverflow.com/questions/23885255/how-to-remove-ignore-hover-css-style-on-touch-devices 
@media (hover: none) {
  .arrow:hover{
    background-color: red;
  }
} */

.arrow-left {
  left: 0;
}

.arrow-right {
  right: 0;
}

.using-arrows {
  color: #505050;
  font-size: 0.8em;
}

/* img-title */

.title {
  width: 100%;
  height: auto;
  text-align: center;
  margin: 0;
}

.img-title {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.8);
  font-size: 0.8em;
}

/* dots */
.dots {
  width: 100%;
  height: auto;
  text-align: center;
}

.dot {
  width: 12px;
  height: 12px;
  display: inline-block;
  background-color: #c7c7c7;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.5s;
}

.dot-active,
.dot:hover {
  background-color: #505050;
}

/********************
****** IFRAME ******
********************/

.wrapper{
  width: 100%;
  margin: 0 auto;
}

.iframe-container {
  position: relative;
  padding-top: 56.25%;
  height: 0;
  width: 100%;
}

.gmap,
.YouTube-vid {
  border-radius: 5px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid #000000;
  margin: 0 auto;
  padding: 0.1px;
}
