/* color links #884425*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Amiri",serif;
  font-size: 16px;
  background-color:#D09D85; 
}

h1 {
  font-family: 'Aref Ruqaa', serif;
  font-size: 2em;
  color: #630709;
}

.container {
  width: 90%;
  border: 1.5px solid #0d0b0a;
  border-radius: 5px;
  background-color: #e8cec2;
  margin: 10px auto;
}

/********************
*** REUSABLE CODE ***
********************/

.section {
  margin: 0 10px;
}

h2,h3 {
  font-family: 'Aref Ruqaa', serif;
  margin-top:12px;
  color: #930a0e;
  margin: 0 3px;
}

h2{
  font-size: 1.7em;
}

h3{
  font-size: 1.3em;

}

.article{
  margin: 10px;
  color: #07020F;
}

.beginging{
  color:#b30c11;
  font-size: 1.5em;
}

.symbol{
  font-size:0.7em; 
}


/********************
******** NAV ********
********************/

nav{
  display: flex;
  justify-content: space-between;
  width: 85%;
  margin: 0 auto;
}

.burger{
  cursor: pointer;
  margin: auto 0;
}

.line{
  height: 5px;
  width: 30px;
  margin:6px 0;
  background: #630709;
}

/********************
******** MAP ********
********************/

.mapouter {
  position: relative;
  text-align: right;
  width: 98%;
  height: 60vh;
  margin: 0 auto;
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 100%;
  width: 100%;
}

#gmap_canvas {
  height: 100%;
  width: 100%;
}

/********************
****** PLACES ******
********************/


