/* color links #884425*/

* {
  margin:0;
  margin-top: 0.6rem;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* user-select: none; */
  outline: none;
  font-family: "Amiri",serif;
  font-size: 14px;
  background-color:#D09D85;
  overflow-x:hidden;
  width: 100vw;
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
  font-family: 'Aref Ruqaa', serif;
  font-size: 2em;
  color: #630709;
}

.content {
  border: 1.5px solid #0d0b0a;
  border-radius: 5px;
  background-color: #f1e2db;
}

/********************
*** REUSABLE CODE ***
********************/

.container{
  width: 96%;
  margin: 0 auto;
  margin-top: inherit;
}

.section {
}

h2,h3 {
  font-family: 'Aref Ruqaa', serif;
  color: #630709;
}

h2{
  font-size: 1.7em;
}

h3{
  margin-right: 0.3em;
}

article{
  color: #07020F;
}

.article-point{
  font-size: 0.8em;
}

.symbol{
  font-size:0.5em; 
}

.beginging{
  color:#630709;
  font-size: 1.5em;
}

/********************
******** NAV ********
********************/

nav{
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  margin-top: inherit;
}

/* burger  */

.burger{
  display: block;
  cursor: pointer;
  margin: auto 0;
  z-index: 2;
  transition: 0.5s;
}

.burger-line{
  height: 5px;
  width: 33px;
  background: #630709;
  transition: 0.5s;
}

/* slider */

.tabs-container{
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  transition: 0.5s;
  height: 100vh;
  width: 50%;
  background: rgba(63,07,09,0.9);
  color: #f1e2db;
  z-index: 1;
  margin: 0;
}

.tabs-list{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  list-style: none;
  width: 100%;
  height: 70vh;
  margin-top:3.3rem;
}

.tabs-list>li{
  font-size: 1.1rem;
  margin-right: 12px;
}

/********************
******** MAP ********
********************/

#gmap_canvas {
  height: 100%;
  width: 100%;
  margin: 0;
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  margin: 0;
  height: 100%;
  width: 100%;
}

.map-container {
  position: relative;
  width: 74vw;
  height: 22vh;
  margin: 0 auto;
  margin-top: inherit;
  border: 1.5px solid #0d0b0a;
  border-radius: 3px;
}

/********************
****** IMAGES ******
********************/

.img-container{
  position: relative;
  margin: 0 auto;
  margin-top: inherit;
}

.img-border{
  display: table;
  margin: 0 auto;
  position: relative;
}

/* imgs */
.single-image{
  display: block;
  margin: 0 auto;
  margin-top: inherit;
  border: 1px solid #0d0b0a;
  border-radius: 5px;
}

/* arrows */
.arrow{
  position: absolute;
  top: 50%;
  margin-top: -30px;
  font-size: 2em;
  font-weight: bold;
  padding: 4px 16px; 
  outline: none;
  cursor: pointer;
  color: #ffffff;
  background-color: transparent; 
  transition: 0.4s;
}

  /* .arrow:hover{
    background-color: rgba(0,0,0,0.8);
  }

   https://stackoverflow.com/questions/23885255/how-to-remove-ignore-hover-css-style-on-touch-devices 
@media (hover: none) {
  .arrow:hover{
    background-color: red;
  }
} */

.arrow-left{
  left:0;
}

.arrow-right{
  right: 0;
}

.using-arrows{
  color:#505050;
  font-size: 0.8em;
}

/* img-title */

.title{
  width: 100%;
  height: auto;
  text-align: center;
  margin: 0;
}

.img-title{
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #ffffff;
  background-color: rgba(0,0,0,0.8);
  font-size: 0.8em;
}

/* dots */
.dots{
  width: 100%;
  height: auto;
  text-align: center;
  margin-top:8px;
}

.dot{
  width:12px;
  height: 12px;
  display: inline-block;
  background-color:#c7c7c7;
  border-radius:50%;
  cursor: pointer;
  transition: 0.3s;
}

.dot-active,
.dot:hover{
  background-color:#505050;
}

/********************
*** YOUTUBE-VIDEO ***
********************/

.YouTube-vid-container{
  position: relative;
  width: 74vw;
  margin: 0 auto;
  margin-top: inherit;
  border: 1.5px solid #0d0b0a;
  border-radius: 3px;
}

#music-box{
  height: 100%;
  width: 100%;
  margin: 0;
}


/********************
***** JS active *****
********************/
.tabs-container-active{
  transform: translateX(0%);
}

.burger-line-active{
  background-color: #f1e2db;
  margin-right:auto;
}

