/* color links #884425*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  font-family: "Amiri",serif;
  font-size: 14px;
  background-color:#D09D85; 
}

h1 {
  font-family: 'Aref Ruqaa', serif;
  font-size: 2em;
  color: #630709;
}

.container {
  width: 90%;
  border: 1.5px solid #0d0b0a;
  border-radius: 5px;
  background-color: #f1e2db;
  margin: 10px auto;
}

/********************
*** REUSABLE CODE ***
********************/

.section {
  margin: 0 10px;
}

h2,h3 {
  font-family: 'Aref Ruqaa', serif;
  margin: 5px 3px 0 3px;
  color: #930a0e;
}

h2{
  font-size: 1.7em;
}

h3{
  font-size: 1.3em;
}

.article{
  margin: 10px;
  color: #07020F;
}

.beginging{
  color:#b30c11;
  font-size: 1.5em;
}

.symbol{
  font-size:0.7em; 
}


/********************
******** NAV ********
********************/

nav{
  display: flex;
  justify-content: space-between;
  width: 85%;
  margin: 0 auto;
}

.burger{
  cursor: pointer;
  margin: auto 0;
}

.line{
  height: 5px;
  width: 30px;
  margin:6px 0;
  background: #630709;
}

/********************
******** MAP ********
********************/

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 100%;
  width: 100%;
}

#gmap_canvas {
  height: 100%;
  width: 100%;
}

.img-slider,
.mapouter {
  position: relative;
  text-align: right;
  width: 98%;
  height: 60vh;
  margin: 0 auto;
  border: 1px solid #0d0b0a;
  border-radius: 2px;
}

/********************
****** PLACES ******
********************/
.img-slider{
  /* display: block; */
}

/* imgs */
.image{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* arrows */
.arrow,
.arrow:focus{
  font-size: 2.5em;
  padding: 0 3px;
  vertical-align: center;
  transition: 0.4s;
  outline: none;
  cursor: pointer;
    color: #000000;
  background-color: #ffffff;
}

.arrow:hover{
  color: #ffffff;
  background-color: #000000;
}

.arrow-right{
  float:right;
}

/* dots */
.dots{
  width: 100%;
  height: auto;
  text-align: center;
}

.dot{
  width:10px;
  height: 10px;
  display: inline-block;
  background-color:#d1d1d1;
  border-radius:50%;
  cursor: pointer;
  transition: 0.3s;
}

.active,
.dot:hover{
  background-color:#696969;
}




