
.flex{
  height: 75vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 50px 0;
}

@media only screen and (min-width:1024px){
  .flex{
    flex-direction: row;
    padding: 0 50px;

  }
}

span{
    display: block;
    margin-right: 1rem;
}

.link{
  text-decoration: none;
  color: #884425; 
}

.social-media-container{
  width: 100%;
  display: flex;
  justify-content: center;
}

.social-media{
  width: 50px;
  height: auto;
  margin-left: 35px;
}
